## Setup

In [19]:
import os, sys, re, json, time, unittest, datetime, shutil
import itertools, collections
from importlib import reload
from IPython.display import display, HTML
from tqdm import tqdm

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import matthews_corrcoef
from pandas_ml import ConfusionMatrix
from nltk import word_tokenize
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

In [2]:
# import nltk
# nltk.download('stopwords')

**Note:** The data below is only on the 10k datasets for now. This will be updated to leverage the full datasets.

# Loading Data

In [3]:
# All types of reviews - 10K dataset
# reviews_df = pd.read_json("../dataset/review_10k.json", lines=True)

# Just restaurant reviews - 10K dataset
reviews_df = pd.read_json("../dataset/restaurant_reviews_10k.json", lines=True)

# All types of reviews
# reviews_df = pd.read_json("../../../final_project/full_dataset/review.json", lines=True)

In [4]:
reviews_df.head()

,business_id,cool,date,funny,stars,text,useful,user_id
0,--6MefnULPED_I942VcFNA,0,2017-08-17,0,4,This is one of my top 3 places to get BBQ pork...,2,FEg8v92qx3kK4Hu4TF28Fg
1,--6MefnULPED_I942VcFNA,0,2017-05-31,0,3,This restaurant is famous for their BBQ dishes...,0,HPtjvIrhzAUkKsiVkeT4MA
2,--6MefnULPED_I942VcFNA,0,2016-10-23,0,2,Roasted pork is one of my favorite things... A...,1,MpvqV7lQcl15rflTBEUhXA
3,--6MefnULPED_I942VcFNA,0,2017-07-30,0,2,I walked by the restaurant more than 5 years a...,1,x-Gbs8sVid3yhJIoHD6Gfw
4,--6MefnULPED_I942VcFNA,0,2017-02-07,1,2,I came here to order a roast duck over rice to...,0,7Dykd1HolQx8mKPYhYDYSg

In [5]:
reviews_df.shape

(10000, 8)

In [6]:
final_reviews_train_df = pd.read_json("../../full_dataset/restaurant_reviews_final_train.json", lines=True)

In [7]:
final_reviews_train_df.head()

,business_id,cool,date,funny,stars,text,useful,user_id
0,--9e1ONYQuAa-CB_Rrw7Tw,0,2008-11-11,0,4,So when you go to a restaurant like this pleas...,0,---1lKK3aKOuomHnwAkAow
1,1JgaRBX0oiRsvEhHF3ZMjw,1,2011-02-16,7,1,Food was 30 mins late and the pizza guy thinks...,5,---1lKK3aKOuomHnwAkAow
2,2BbFeotL85cIaBjSq1SWiA,1,2010-10-17,1,1,When you say your a vegetarian don't recomend ...,2,---1lKK3aKOuomHnwAkAow
3,5aeR9KcboZmhDZlFscnYRA,0,2013-01-16,0,5,So Fresh Mama let us host a Homeschool Board G...,1,---1lKK3aKOuomHnwAkAow
4,5cbsjFtrntUAeUx51FaFTg,0,2010-11-05,0,1,So I was coming here once a month or so maybe ...,1,---1lKK3aKOuomHnwAkAow

In [8]:
final_reviews_train_df.shape

(1500464, 8)

In [9]:
final_reviews_test_df = pd.read_json("../../full_dataset/restaurant_reviews_final_test.json", lines=True)

In [10]:
final_reviews_test_df.head()

,business_id,cool,date,funny,stars,text,useful,user_id
0,7dHYudt6OOIjiaxkSvv3lQ,197,2017-11-08,179,5,Auf unserer Rundreise haben wir häufig die Res...,203,--2vR0DIsmQ6WfcSzKWigw
1,9edPSkfXKsJmkZYIaOmA7Q,194,2017-11-06,176,4,Nachdem wir die Las Vegas North Premium Outlet...,199,--2vR0DIsmQ6WfcSzKWigw
2,El4FC8jcawUVgw_0EIcbaQ,122,2015-10-13,109,4,Das MGM Grand ist mit seinen 6.853 Zimmern ein...,130,--2vR0DIsmQ6WfcSzKWigw
3,GHS1rVjO-RMcRB6WJLpCDQ,108,2015-09-16,94,3,In Las Vegas kann man zwischen zwei verschiede...,112,--2vR0DIsmQ6WfcSzKWigw
4,IhlKa2x5J4vr47hjDY8Jnw,11,2013-06-02,7,5,Bei einer meiner letzten Besuche in Stuttgart ...,15,--2vR0DIsmQ6WfcSzKWigw

In [11]:
final_reviews_test_df.shape

(373155, 8)

# Baseline Model

### Count Vectorizer

In [21]:
# n_features = 10000

# # text = reviews_df["text"]
# train_count_vect = final_reviews_train_df["text"]
# test_count_vect = final_reviews_test_df["text"]

# print("Fitting Count Vectorizer")
# # vectorizer = CountVectorizer(max_df=0.95, min_df=2,
# #                                 max_features=n_features,
# #                                 stop_words='english')
# # word_vector = vectorizer.fit_transform(text)

# # No setting of hyper-parameters
# vectorizer = CountVectorizer()
# word_vector = vectorizer.fit_transform(text)

# print(np.shape(word_vector))

In [ ]:
# #Print example text, stars, and embeddings

# print(reviews_df["text"][102])
# print(reviews_df["stars"][102])
# print(word_vector[102])

### GloVe

In [13]:
#https://www.kaggle.com/abhishek/approaching-almost-any-nlp-problem-on-kaggle

# Primary GloVe file
gloveFile = "../../glove/glove.6B.300d.txt"

# Large GloVe file
# gloveFile = "../../glove/glove.42B.300d.txt"

start_time = datetime.datetime.now()
print("Start time: ", start_time)

embeddings_index = {}
f = open(gloveFile)
for line in tqdm(f):
    values = line.split()
    word = values[0]
    coefs = np.asarray(values[1:], dtype='float32')
    embeddings_index[word] = coefs
f.close()

print('Found %s word vectors.' % len(embeddings_index))



# This function creates a normalized vector for the whole sentence
def sent2vec(s):
#     words = str(s).lower().decode('utf-8')
    words = str(s).lower()
    words = word_tokenize(words)
    words = [w for w in words if not w in stop_words]
    words = [w for w in words if w.isalpha()]
    M = []
    for w in words:
        try:
            M.append(embeddings_index[w])
        except:
            continue
    M = np.array(M)
    v = M.sum(axis=0)
    if type(v) != np.ndarray:
        return np.zeros(300)
    return v / np.sqrt((v ** 2).sum())
# create sentence vectors using the above function for training and validation set
x_train_glove = [sent2vec(x) for x in tqdm(final_reviews_train_df["text"])]
x_test_glove = [sent2vec(x) for x in tqdm(final_reviews_test_df["text"])]


x_train_glove = np.array(x_train_glove)
x_test_glove = np.array(x_test_glove)





end_time = datetime.datetime.now()
print("End time: ", end_time)

time_taken = end_time - start_time
print("Time taken: ", time_taken)

1160it [00:00, 11589.21it/s]

Start time:  2018-08-10 20:06:57.432425

400000it [00:34, 11590.62it/s]
  0%|          | 0/1500464 [00:00<?, ?it/s]

Found 400000 word vectors.

100%|██████████| 1500464/1500464 [44:09<00:00, 566.35it/s]
100%|██████████| 373155/373155 [11:05<00:00, 560.61it/s]

End time:  2018-08-10 21:02:51.808614
Time taken:  0:55:54.376189

## NB Training and Scoring

In [14]:
# x_train_user_reviews = reviews_df["text"][0:6000]
# x_dev_user_reviews = reviews_df["text"][6001:8000]
# x_test_user_reviews = reviews_df["text"][8001:10000]


# x_train_user_reviews = word_vector[0:6000]
# # x_dev_user_reviews = word_vector[6001:8000]
# x_train_user_reviews = word_vector[0:8000]
# x_test_user_reviews = word_vector[8001:10000]

# # print("x_train_user_reviews", x_train_user_reviews)
# # print("shape x_train_user_reviews", np.shape(x_train_user_reviews))



# # y_train_user_stars = reviews_df["stars"][0:6000]
# # y_dev_user_stars = reviews_df["stars"][6001:8000]
# y_train_user_stars = reviews_df["stars"][0:8000]
# y_test_user_stars = reviews_df["stars"][8001:10000]

y_train_user_stars = final_reviews_train_df["stars"]
y_test_user_stars = final_reviews_test_df["stars"]


# self._X_train, self._X_test, self._y_train, self._y_test = train_test_split(padded_seq, target, test_size=0.2, random_state=123)

In [ ]:
x_test_glove

In [15]:
start_time = datetime.datetime.now()
print("Start time: ", start_time)

# nb = MultinomialNB()
# Using Gaussian NB as it works witht the continuous data from the GloVe implementation
nb = GaussianNB()

# nb.fit(x_train_user_reviews, y_train_user_stars)
nb.fit(x_train_glove, y_train_user_stars)

# y_pred = nb.predict(x_test_user_reviews)
y_pred = nb.predict(x_test_glove)



end_time = datetime.datetime.now()
print("End time: ", end_time)

time_taken = end_time - start_time
print("Time taken: ", time_taken)

Start time:  2018-08-10 21:02:51.882970
End time:  2018-08-10 21:03:09.652436
Time taken:  0:00:17.769466

In [16]:
# acc = accuracy_score(y_pred, y_test_user_stars)
acc = accuracy_score(y_pred, y_test_user_stars)
print("Accuracy on test set: {:.02%}".format(acc))

# log_loss_metric = log_loss(y_test_user_stars, y_pred)
# print("Log-loss on test set: {:.02%}".format(log_loss_metric))

f1 = f1_score(y_test_user_stars, y_pred, average='weighted') 
# print(f1)
print("F1 Score on test set: {:.02}".format(f1))

Accuracy on test set: 35.14%
F1 Score on test set: 0.36

In [17]:
target_names = ['1', '2', '3', '4', '5']
print(classification_report(y_test_user_stars, y_pred, target_names=target_names))

             precision    recall  f1-score   support

          1       0.27      0.58      0.37     29410
          2       0.17      0.33      0.23     37665
          3       0.26      0.23      0.24     66213
          4       0.43      0.30      0.35    121614
          5       0.53      0.42      0.47    118253

avg / total       0.39      0.35      0.36    373155

In [ ]:


# print(ConfusionMatrix(self._eval_actual, self._eval_predicted_classes))
# nb.confusion_matrix.plot(normalized=True)

confus_mat = ConfusionMatrix(y_test_user_stars, y_pred)
confus_mat.plot(normalized=True)

In [20]:
corr_coeff = matthews_corrcoef(y_true=y_test_user_stars, y_pred=y_pred)
print("corr_coeff:", corr_coeff)

corr_coeff: 0.176601907082

In [ ]:
# Print example prediction

print()
print(y_pred[400])
y_test_user_stars[400]