In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [9]:
reviews_df = pd.read_json("../../dataset/review.json", lines=True) 
businesses_df = pd.read_json("../../dataset/business.json", lines=True)

In [10]:
def has_restaurant(arr):
    return 'Restaurants' in arr

rest_business_ids = pd.DataFrame(businesses_df[businesses_df.categories.apply(has_restaurant)].business_id)

In [11]:
reviews_df = reviews_df.set_index('business_id')
rest_business_ids = rest_business_ids.set_index('business_id')

In [12]:
restaurant_reviews_df = reviews_df.join(rest_business_ids, how='inner')

In [13]:
restaurant_reviews_df.head()

,cool,date,funny,review_id,stars,text,useful,user_id
business_id,,,,,,,,
--6MefnULPED_I942VcFNA,0,2017-08-17,0,hTGD7YEb43cFCswkpZ9ORA,4,This is one of my top 3 places to get BBQ pork...,2,FEg8v92qx3kK4Hu4TF28Fg
--6MefnULPED_I942VcFNA,0,2017-05-31,0,GAaVSO7hu3peq3cFtno1FQ,3,This restaurant is famous for their BBQ dishes...,0,HPtjvIrhzAUkKsiVkeT4MA
--6MefnULPED_I942VcFNA,0,2016-10-23,0,mMuhOMTT2tTDrcLtbs3AqA,2,Roasted pork is one of my favorite things... A...,1,MpvqV7lQcl15rflTBEUhXA
--6MefnULPED_I942VcFNA,0,2017-07-30,0,IJGTo-etf2iWnqVjwL0F9g,2,I walked by the restaurant more than 5 years a...,1,x-Gbs8sVid3yhJIoHD6Gfw
--6MefnULPED_I942VcFNA,0,2017-02-07,1,_08Gus_KbB879F7lCDSpdw,2,I came here to order a roast duck over rice to...,0,7Dykd1HolQx8mKPYhYDYSg

In [15]:
restaurant_reviews_df['business_id'] = restaurant_reviews_df.index
restaurant_reviews_df = restaurant_reviews_df.set_index('review_id')
restaurant_reviews_df.head()

,cool,date,funny,stars,text,useful,user_id,business_id
review_id,,,,,,,,
hTGD7YEb43cFCswkpZ9ORA,0,2017-08-17,0,4,This is one of my top 3 places to get BBQ pork...,2,FEg8v92qx3kK4Hu4TF28Fg,--6MefnULPED_I942VcFNA
GAaVSO7hu3peq3cFtno1FQ,0,2017-05-31,0,3,This restaurant is famous for their BBQ dishes...,0,HPtjvIrhzAUkKsiVkeT4MA,--6MefnULPED_I942VcFNA
mMuhOMTT2tTDrcLtbs3AqA,0,2016-10-23,0,2,Roasted pork is one of my favorite things... A...,1,MpvqV7lQcl15rflTBEUhXA,--6MefnULPED_I942VcFNA
IJGTo-etf2iWnqVjwL0F9g,0,2017-07-30,0,2,I walked by the restaurant more than 5 years a...,1,x-Gbs8sVid3yhJIoHD6Gfw,--6MefnULPED_I942VcFNA
_08Gus_KbB879F7lCDSpdw,0,2017-02-07,1,2,I came here to order a roast duck over rice to...,0,7Dykd1HolQx8mKPYhYDYSg,--6MefnULPED_I942VcFNA

In [16]:
restaurant_reviews_df.to_json('../../dataset/restaurant_reviews.json', orient='records', lines=True)

In [19]:
restaurants_df = businesses_df[businesses_df.categories.apply(has_restaurant)]

In [20]:
restaurants_df.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
4,581 Howe Ave,"{u'Alcohol': u'full_bar', u'HasTV': True, u'No...",PfOCPjBrlQAnz__NXj9h_w,"[American (New), Nightlife, Bars, Sandwiches, ...",Cuyahoga Falls,"{u'Monday': u'11:00-1:00', u'Tuesday': u'11:00...",1,41.119535,-81.475690,Brick House Tavern + Tap,,44221,116,3.5,OH
5,Richterstr. 11,"{u'GoodForMeal': {u'dessert': False, u'latenig...",o9eMRCWt5PkpLDE0gOPtcQ,"[Italian, Restaurants]",Stuttgart,"{u'Monday': u'18:00-0:00', u'Tuesday': u'18:00...",1,48.727200,9.147950,Messina,,70567,5,4.0,BW
10,737 West Pike St,"{u'GoodForMeal': {u'dessert': False, u'latenig...",XOSRcvtaKc_Q5H1SAzN20A,"[Breakfast & Brunch, Gluten-Free, Coffee & Tea...",Houston,{},0,40.241548,-80.212815,East Coast Coffee,,15342,3,4.5,PA
14,600 E 4th St,"{u'GoodForMeal': {u'dessert': False, u'latenig...",fNMVV_ZX7CJSDWQGdOM8Nw,"[Restaurants, American (Traditional)]",Charlotte,"{u'Tuesday': u'7:00-15:00', u'Friday': u'7:00-...",1,35.221647,-80.839345,Showmars Government Center,Uptown,28202,7,3.5,NC
15,2459 Yonge St,"{u'GoodForMeal': {u'dessert': False, u'latenig...",l09JfMeQ6ynYs5MCJtrcmQ,"[Italian, French, Restaurants]",Toronto,"{u'Monday': u'9:00-22:00', u'Tuesday': u'9:00-...",0,43.711399,-79.399339,Alize Catering,Yonge and Eglinton,M4P 2H6,12,3.0,ON

In [22]:
restaurants_df.to_json('../../dataset/restaurants.json', orient='records', lines=True)

In [17]:
restaurant_reviews_10k_df = restaurant_reviews_df.head(10000)

In [18]:
restaurant_reviews_10k_df.to_json('../../dataset/restaurant_reviews_10k.json', orient='records', lines=True)